/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Merriweather, "Times New Roman", Serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 400;
    color: #0C0C0C;
    font-size: 0.9em;
}

.header-top {
    background-color: #5722CD;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 50px;
}

.nav-items {
    display: flex;
    flex-basis: 400px;
    justify-content: space-between;
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-weight: 300;
    color: #FFFFFF;
}

.nav-items a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    /*width: 800px;*/
    /*padding: 60px;*/
}


.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    /*Padding even als shorthand zetten!*/
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    max-width: 900px;
}

.sub-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

button {
    border-radius: 30px;
    border: none;
    width: 170px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 400;
    font-size: 10px;
    background-color: #ED4385;
    color: #FFFFFF;
    margin-bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

button a {
    text-decoration: none;
    color: #FFFFFF;

}

.squiggle-line {
    width: 100px;
    height: 80px;
    bottom: 0;
    position: absolute;
    left: calc(50% - 50px);
    color: #FFFFFF;
}

.intro-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    width: 640px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5722CD;
    font-family: Merriweather, "Times New Roman", Serif;
    font-weight: 700;
    font-size: 23px;
    padding: 16px;
}

.intro p {
    margin-top: 50px;
}

.intro p a {
    text-decoration: none;
    font-weight: 700;
}

.intro:nth-child(2) {
    margin: 100px;
}

.hero-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
   background-color: #F3F6F9;
}


.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding-top: 30px;
}

.inner-container h2 {
    text-align: left;
    font-family: Merriweather, "Times New Roman";
    font-weight: 700;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.article-container:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 60px;
}

.subs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

.subs p {
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 700;
    padding-bottom: 40px;
}

.subs p a {
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 900;
    font-size: 15px;

    text-transform: uppercase;
    text-decoration: none;
}

.line {
   padding: 30px 0 30px 0;
}

.article-container span {
    display: flex;
    flex-basis: 400px;
}

.images{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    width: 500px;
    margin: 0 40px 0 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.expertise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.inner-container-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: center;
    width: 1400px;
    gap: 2em;
}

.labels {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 50px 60px 50px 60px;
    border: 1px solid #5722CD;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.icons {
    display: flex;
    width: 100px;
}

.labels h2 {
    font-family: "Merriweather", "Times New Roman", Serif;
    padding: 20px 0 20px 0;
    color: #5722CD;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5722CD;

}

.form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    padding: 50px 0 100px 0;
}

.form-inner-container h2 {
    font-family: Merriweather, "Times New Roman", Serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 34px;
    padding-bottom: 20px;
}

.form-inner-container p {
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.form button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label input {
    padding: 20px 20px 20px 20px;
}



/*Media querie toepassen op article container en width op images*/

